<div class="container-fluid">
    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
        <ngb-panel id="custom-panel-1">
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Orders Search</h5>
                    <button ngbPanelToggle class="btn btn-light float-right p-0"><i
                            [ngClass]="opened ? 'fas fa-minus' : 'fas fa-plus'"></i></button>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 mt-3 mb-3">
                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <div class="form-group">
                                    <select formControlName="ordersSearch" class="form-control">
                                        <option>Select a Search Type</option>
                                        <option *ngFor="let searchType of searchTypeList">{{searchType}}</option>
                                    </select>
                                    <div *ngIf="f.ordersSearch.touched && f.ordersSearch.invalid"
                                        class="alert alert-danger">
                                        <div *ngIf="f.ordersSearch.errors.required">Please select a search option</div>
                                    </div>
                                </div>
                                <div *ngIf="f.ordersSearch.value">
                                    <div class="form-group">
                                        <label for="searchInput">Enter {{ f.ordersSearch.value }}:</label>
                                        <input type="text" class="form-control" formControlName="searchInput">
                                        <div *ngIf="f.searchInput.touched && f.searchInput.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.searchInput.errors.required">Search input is required</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>